<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
    <div class="container py-5">
        <h1>Login</h1>
        <form action="login" method="POST">
          {% csrf_token %}
          <input type="text" name="email">
          <input type="password" name="password"> 
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
      </div>
</body>
</html>